.homeWrapper {
  display: flex;
  position: relative;
  top: 200px;
}
.homeWrapperLeft {
  flex: 3;
  height: 500px;
}
.homeWrapperRight {
  flex: 10;
  height: 500px;
}
.homeWrapperLeftList {
  list-style: none;
  cursor: pointer;
  padding-top: 2%;
}
.homeWrapperRightProdSearch {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
  cursor: pointer;
}
.homeWrapperRightProdSearchInput {
  padding: 1%;
  border: none;
  width: 97%;
  cursor: pointer;
}
.homeWrapperRightProdfeatures {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.homeWrapperRightProdList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.homeWrapperRightProdSingleImg {
  width: 230px;
  height: 230px;
  border-radius: 5px;
  cursor: pointer;
}
.homeWrapperRightProdSingleImg img {
  width: 100%;
  border-radius: 13px;
  cursor: pointer;
}
.homeWrapperRightProducts {
  padding: 2%;
}
.homeWrapperHeading {
  position: relative;
  top: 110px;
  font-size: 50px;
  font-weight: bold;
}
.homeWrapperPara {
  position: relative;
  top: 140px;
}
.mainWrapper {
  padding: 5%;
}
.homeWrapperRightProdSingle {
  padding: 1% 0 1% 0;
}
.homeWrapperRightProdName {
  padding-top: 1%;
}
.homeWrapperLeftList1 {
  margin-left: -10%;
}
