.prodWrapper {
  width: 300px;
  height: 400px;
  position: relative;
  background-color: white;
}

.prodWrapperImg {
  height: 80%;
  width: 100%;
  display: flex;
}
.prodWrapperClose {
  font-size: 30px;
  margin-left: -10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 1%;
}
.prodWrapperCloseIcon {
  justify-content: center;

  align-items: center;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}

.prodWrapperImg img {
  width: 100%;
  height: 100%;
}
.prodWrapperBtn {
  margin-left: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.prodWrapperBtn button {
  width: 90%;
  padding: 3%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
.prodWrapperTag {
  font-size: 25px;
}
